@{
    ViewBag.Title = "Contact";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/AddNew.js"></script>

<div id="addArticleId">
    Title:<textarea rows="1" cols="50" id="titleId"></textarea> 
    <br/>
    Description:
    <textarea rows="4" cols="50" id="descriptionId">
    </textarea> 
    <br/>
    <input type="submit" value="Submit" id="submitArticle" onclick="addNew()">
</div>